<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login Form Template</title>

        <!-- CSS -->
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/assets/font-awesome/css/font-awesome.min.css}" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" th:href="@{/assets/css/form-elements.css}" href="assets/css/form-elements.css">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" th:href="@{/assets/ico/favicon.png}" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" th:href="@{/assets/ico/apple-touch-icon-144-precomposed.png}" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" th:href="@{/assets/ico/apple-touch-icon-114-precomposed.png}" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" th:href="@{/assets/ico/apple-touch-icon-72-precomposed.png}" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" th:href="@{/assets/ico/apple-touch-icon-57-precomposed.png}" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box" style="margin:auto">
                        	<div class="form-top">
                        		<div class="form-top-left">
                                    <!-- 取国际化内容 -->
                        			<h3 th:text="#{login.tip}">Login to our site</h3>
                                    <!-- 登陆错误消息显示 -->
                                    <p style="color: red;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                        		</div>
                                <div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" th:action="@{user/login}" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username" th:text="#{login.username}">Username</label>
			                        	<input type="text" name="form-username" th:placeholder="#{login.username}" placeholder="Username..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password" th:text="#{login.password}">Password</label>
			                        	<input type="password" name="form-password" th:placeholder="#{login.password}" placeholder="Password..." class="form-password form-control" id="form-password">
			                        </div>
			                        <button type="submit" class="btn" th:text="#{login.btn}">Sign in!</button>
			                    </form>
		                    </div>
                            <!-- 链接携带国际化信息 -->
                            <a th:href="@{/login.html(l='zh_CN')}" class="btn btn-sm" style="color:white;">中文</a>
                            <a th:href="@{/login.html(l='en_US')}" class="btn btn-sm" style="color:white;">english</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- Javascript -->
    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}" src="assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script th:src="@{/assets/js/jquery.backstretch.min.js}" src="assets/js/jquery.backstretch.min.js" type="text/javascript"></script>
    <script th:src="@{/assets/js/scripts.js}" src="assets/js/scripts.js" type="text/javascript"></script>
</html>